.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "column";
  width: 100%;
  position: fixed;
  top: 0;
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
}
.side-a {
  background-color: #3e3e3e;
  /*background-image: url(https://newberap.s3.sa-east-1.amazonaws.com/imagens/avatar/avatar10.jpg);*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  text-align: center;
  overflow: hidden;
}
.side-b {
  background-color: #3e3e3e;
  /*background-image: url(https://newberap.s3.sa-east-1.amazonaws.com/imagens/avatar/avatar1.jpg);*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  text-align: center;
  overflow: hidden;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);
}

#coin.heads {
  -webkit-animation: flipHeads 2s ease-out forwards;
  -moz-animation: flipHeads 2s ease-out forwards;
  -o-animation: flipHeads 2s ease-out forwards;
  animation: flipHeads 2s ease-out forwards;
}
#coin.tails {
  -webkit-animation: flipTails 2s ease-out forwards;
  -moz-animation: flipTails 2s ease-out forwards;
  -o-animation: flipTails 2s ease-out forwards;
  animation: flipTails 2s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(540deg);
  }
}
@-webkit-keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

h2 {
  margin: 0.25rem;
}

div.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 1rem;
  background-color: skyblue;
}

#coin {
  position: relative;

  margin: 2rem 0rem;
  transform-style: preserve-3d;
}

#coin div {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  backface-visibility: hidden;
  background-size: contain;
  position: absolute;
}

.heads {
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.tails {
  transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}
